<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body class="<%= body_class %>">
    <%- include('../partials/header.ejs') %>
    <div class="content_wrapper">
        <%- include('../partials/sidebar.ejs') %>
        <%- include('../partials/main_content.ejs') %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>